body {

    max-width:100%;
    max-height:100%;
}
#headerPrincipal{
    display:flex;
    font-style:italic,oblique;
    color:black;
}
h3{
    color:aliceblue;
}
#login {
    display:block;
    margin-top:5%;
    margin-left: 30%;
    margin-right: 30%;
    position:relative;
    border:groove;  
    border-radius:10px;
    max-height:inherit;
    max-width:80%;
    width:auto;
    height:auto;
   
    padding:30px;
    box-shadow: inset -1px 1px 10px #000000;
    
}
#trUp{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#trDown{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
#lbRecUs{
    text-decoration:underline;
    text-underline-position:auto;
}
#lbOlvPass{
    text-decoration:underline;
}
#titulo{
    text-align:center;
    text-decoration:wavy;
    color:aliceblue;
    font-size:60px;
    font-weight:600;
    font-family:'Franklin Gothic';
    outline-color:aliceblue;
    outline-style:groove;
    box-shadow: unset 3px 10px rgb(12, 14, 104);
}
#cabecera{
    text-align:center;
    max-width:100%;
    max-height:100%;
}
#frmLogin{
    max-height:100%;
    max-width:100%;
    
}
input{
    width:100%;  
    margin:0 auto; 
   
}
.login-cl{
    
    margin:0 auto;
}
