
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Estilos/Style1.css" />
</head>
<body>
    <div>
        <p id="titulo"><strong><em>My Ticket Admin</em></strong></p>
    </div>
    <div id="login" > 
        <form id="frmLogin" >
            <table id="tblLogin">
                <tr id="trUp">
                    <td><label for="inUsuario"><strong>Usuario:</strong> </label></td>
                    <td><input type="text" name="inUsuario" placeholder="Ingrese usuario" required/></td>
                </tr>
                <tr id="trDown">
                    <td><label for="inPass"><strong>Contraseña:</strong> </label></td>
                    <td><input type="password" name="inpPass" placeholder="********" required/></td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="ckbRecUs" /><label for="ckbRecUs" id="lbRecUs">Recordar</label></td>
                    <td><button type="submit" name="btnEnviar" id="btnEnviar"><strong>Entrar</strong></button></td>
                </tr>
                <tr>
                    <td colspan="2"><label id="lbOlvPass">Olvido su contraseña</label></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
