
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="cssRegistro.css" />
    <title>AsigRol</title>
</head>
<body>
    <div>
        @RenderPage("Header.cshtml")
    </div>
    <div class="central">
        <div>
            <table>
                <caption>Configuracion de roles de usuario</caption>
                <tr>
                    <td>
                        <label for="inRolCodPersona"><strong>Ingresar codigo persona</strong></label>
                        <input type="text" id="inRolCodPersona" />
                    </td>
                    <td>
                        <label for="inIngUsua"><strong>Ingrese usuario</strong></label>
                        <input type="text" id="inIngUsua" />
                    </td>
                    <td>
                        <label for="inIngPass"><strong>Ingrese password</strong></label>
                        <input type="password" id="inIngPass" />
                    </td>
                    <td>
                        <label for="inConfPass"><strong>Confirme password</strong></label>
                        <input type="password" id="inConfPass" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="selArea"><strong>Ingrese area</strong></label>
                        <select id="selArea">
                            <option>Seleccione</option>
                            <option>Servicios tecnicos</option>
                        </select>
                    </td>
                    <td>
                        <label for="selEstado"><strong>Ingrese estado usuario</strong></label>
                        <select id="selEstado">
                            <option>Seleccione</option>
                            <option>Activo</option>
                            <option>Desactivado</option>
                        </select>
                    </td>
                    <td>
                        <label for="inFecVenc"><strong>Fecha vencimiento</strong></label>
                        <input type="date" id="inFecVenc" />
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <p>@Html.ActionLink("Regresar", "Index", "Home")</p>
</body>
</html>