<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="~/Estilos/cssRegistro.css" />
</head>
<body>
	<header>
		<div id="dCabecera">
			<img id="imgCabecera" alt="logo" src="/Images/banner4.PNG"/>
		</div>
	</header>
</body>
</html>
